
@{
    ViewData["Title"] = "TransactionSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Transaction Success! You have less money now. </h1>

Receipt: 

Item: @ViewBag.ItemName 

Item Description: @ViewBag.ItemDescription

Item Price: @ViewBag.ItemPrice

New Balance: @ViewBag.Funds


