
@{
    ViewData["Title"] = "TransactionError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Transcation Error</h1>

<h2> Your funds @ViewBag.Funds are insufficient for the item @ViewBag.ItemName, @ViewBag.ItemPrice</h2>

